@charset "UTF-8";
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;  
}
.div1{
    background-color: lightgrey;
    border: 3px solid rgb(89, 89, 89);
    border-radius: 5px;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.container {
  width: 100vw;           
  height: 100vh;          
  display: flex;          
  justify-content: center;
  align-items: center;    
}

.divs{
  background-color: rgb(237, 235, 235);
  width: 100px;
  height: 30px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(86, 84, 84);
  border-radius: 5px; 
  cursor: pointer;

}

.destaque{
  background-color: rgb(223, 134, 149);
  border: 2px solid rgb(203, 36, 92);
}